<?xml version='1.0' encoding='UTF-8'?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>{{title}}</title>
        <author>{{author}}</author>
        <respStmt>
          <resp>Acquisition &amp; transformation by</resp>
          <persName>
            <forename>Thibault</forename>
            <surname>Clérice</surname>
            <idno type="orcid">0000-0003-1852-9204</idno>
          </persName>
          <persName>
            <forename>Simon</forename>
            <surname>Gabay</surname>
            <idno type="orcid">0000-0001-9094-4475</idno>
          </persName>
        </respStmt>
      </titleStmt>
      <extent>
        <measure unit="images" n="{{pages}}"/>
      </extent>
      <publicationStmt>
        <publisher>COLaF</publisher>
        <authority>Inria</authority>
        <availability status="restricted" n="cc-by">
          <licence target="https://creativecommons.org/licenses/by/4.0/"/>
        </availability>
        <date when="2024-06-13"/>
      </publicationStmt>
      <sourceDesc>
        <bibl>
          <ptr target="{{catalog}}"/>
          <author>
            <persName>{{author}}</persName>
          </author>
          <title>{{title}}</title>
          <pubPlace key="FR">Grenoble</pubPlace>
          <publisher>[s.n.]</publisher>
          <date {%- if date -%}
            when="{{date}}" cert="high" resp="BNF">{{date}}</date>{% else %}
            not-before="1601-01-01" not-after="1700-12-12" cert="high" resp="BNF">17th century</date>{% endif %}
        </bibl>
        <msDesc>
          <!-- ToDo: Deal with this
          <msIdentifier>
            <country key="FR"/>
            <settlement>Paris</settlement>
            <repository>Bibliothèque nationale de France</repository>
            <idno>YF-5877</idno>
            <altIdentifier>
              <idno type="ark">bpt6k1281160s</idno>
            </altIdentifier>
          </msIdentifier>
          <physDesc>
            <objectDesc>
              <p>Texte imprimé</p>
            </objectDesc>
          </physDesc>
        -->
        </msDesc>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language ident="fre">français</language>
      </langUsage>
    </profileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="YALTAi" version="1.0.0">
          <label>YALTAi</label>
          <ref target="https://github.com/PonteIneptique/yaltai"/>
        </application>
        <application ident="Kraken" version="5.2.5">
          <label>Kraken</label>
          <ref target="https://github.com/mittagessen/kraken"/>
        </application>
        <!-- Add LADaS and Weights ? -->
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      {{content|safe}}
    </body>
  </text>
</TEI>
